/* 3.1 */
body {
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 0.75em;
}

/* 3.2 */
h1, h2, h3 {
    color: #0066ff;
    font-family: "Times New Roman", Times, serif;
}

/* 3.3 */
h1 {
    font-size: 18px;
}

/* 3.4 */
h2 {
    font-size: 16px;
}

/* 3.5 */
h3 {
    font-size: 14px;
}

/* 3.6 */
.red-text {
    color: #ff0000;
}

/* 3.7 */
.circle-list {
    list-style: circle;
}

/* 3.8 */
#highlight-block p {
    font-size: 110%;
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}

/* 3.9 */
#highlight-block a:visited {
    text-decoration: underline;
    color: green;
}

/* 3.10 */
#highlight-block a:hover {
    color: yellow;
    font-weight: bold;
}
